<div class='row'>
	<div class='span10 offset1'>
    <h1 class='title'>Crazy Zeke's Online Tradin' Post</h1>
  </div>
</div>
<div class='row'>
  <div class='span4 offset5'>
    <img src="/images/prospector200.png" class="img-rounded" alt="Crazy Zeke" >
  </div>
</div>
<div class="row">
  <div class='span12'>
    <br>
    <br>
  </div>
</div>
