<div class='row'>
	<div class='span10 offset1'>
    <h1 class='title'>The Sinatra Store</h1>
  </div>
</div>
<div class='row'>
  <div class='span4 offset4'>
    <img src="http://a2.ec-images.myspacecdn.com/images01/61/b8ec4ec0454e628fe3e54ba0798af81d/l.jpg" class='img-polaroid' alt="Nancy Sinatra" />
  </div>
</div>
<div class="row">
  <div class='span12'>
    <br>
    <br>
  </div>
</div>
<div class='row'>
  <div class='span4 offset4'>
    <a href="/users" class="btn btn-large btn-block btn-primary">Our Users</a>
    <a href="/products" class="btn btn-large btn-block btn-primary">Our Products</a>
  </div>
</div>