<!DOCTYPE html>
<html>
	<head>
    <meta charset='utf-8'>
    <link rel='icon' type='image/png' href='images/favicon.png'>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/style.css'>
		<title><%= @title %></title>
	</head>

	<body>
    <div id='container'>
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/users">Folks</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/products">Stuff Fer Sale</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/products/manage">Manage Products</a></li>
          </ul>
        </div>
      </div>
        <%= yield %>
    </div>
	</body>
</html>