<div class='row'>  
  <div class='span6 offset3'>
    <h2 class='title'>Product Detail</h2>
  </div>
</div>
<div class='row'>
  <div class='span6 offset3'>
    <div class='backdrop'>
      <table class='table table-striped'>
        <tr>
          <th></th>
          <th>Item Name</th>
          <th>Cost</th>
          <th>Search</th>
        </tr>
        <tr>
          <td>
            <% if @row['on_sale'] == 't' %>
              <img src="/images/saletag.png" alt="On Sale!" >
            <% end %>
          </td>
          <td><%= @row['name'] %></td>
          <td>$<%= @row['price'] %></td>
          <td>
            <a href="/products/search?q=<%= URI.escape(@row['name']) %>">
              <img src="/images/twitter_logo.png" class="img-circle" alt="Find Tweets About This Product" />
            </a>
          </td> 
        </tr>
      </table>
    </div>
  </div>
</div>
