<div class='row'>  
  <div class='span6 offset3'>
    <div class="page-header">
      <h1 class='title'>Search Results</h1>
      <h4>Here's what other folks are sayin' on the Twitters!</h4>
    </div>
  </div>
</div>
