<div class='row'>  
  <div class='span6 offset3'>
    <h2 class='title'>Users</h2>
    <h4>Here are our fabulous customers:</h4>
  </div>
</div>
<div class='row'>
  <div class='span6 offset3'>
      <div class='alert alert-error'>
      <table class='table table-striped'>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        <% @rs.each do |row| %>
          <tr>
            <td><%= row['id'] %></td>
            <td><%= row['name'] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class='row'>
  <div class='span2 offset3'>
    <a href="/" class="btn btn-large btn-primary">Home Page</a>
  </div>
  <div class='span2'>
    <a href="/products" class="btn btn-large btn-primary">Our Products</a>
  </div>
</div>