<div class='row'>  
  <div class='span6 offset3'>
    <div class="page-header">
      <h1 class='title'>Users</h1>
      <h4>Here's some of our favorite folks:</h4>
    </div>
  </div>
</div>
<div class='row'>
  <div class='span6 offset3'>
      <div class='backdrop'>
      <table class='table table-striped'>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        <% @rs.each do |row| %>
          <tr>
            <td><%= row['id'] %></td>
            <td><%= row['name'] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
