body {
  background-color: #FFCC66;
  padding: 40px;
}

#container {
	margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  color: #663300;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

.navbar {
  font-family: 'Shadows Into Light', cursive;
}

.backdrop {
  background-color: #66CCFF;
  border-radius: 10px;
}