body {
  background-color: #FEE6B3;
  padding: 40px;
}

#container {
	margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  color: #B28F47;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

.navbar {
  font-family: 'Shadows Into Light', cursive;
}

.backdrop {
  background-color: #FEF2D9;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
}

.set_apart {
  margin-top: 20px;
  margin-bottom: 10px;
}

.prod_pic {
  height: 50px;
  width: 70px;
  padding: 5px;
  border-radius: 5px;
}

.prod_img {
  height: 100%;
  width: 100%;
}

.prod_desc {
  width: 350px;
}